
__pycache__/
*.py[cod]
*$py.class

########################################################################
# Streamlit
########################################################################
.streamlit/
lib/streamlit/static
streamlit-storage

# Data Files
**/uber-raw-data-sep14.csv

lib/Pipfile.lock





########################################################################
# VSCode
########################################################################
.vscode/